<div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="img/<%= dino.image %>" alt="No image present">
    <div class="card-body">
      <p class=""><%= dino.name %></p>
      <div class="btn-group">
        <button role="link" type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href=`${location.origin}/dino?id=<%= dino.id %>`">View</button>
      </div>
    </div>
  </div>
</div>
