<main role="main" class="inner cover">
  <h2 class="cover-heading">Dinosaur exhibition</h2>
  <p class="lead"><h6>Откройте для себя мир древних гигантов - динозавров, которые жили миллионы лет назад. Наши экспонаты были тщательно подготовлены и представлены таким образом, чтобы каждый мог увидеть эти удивительные существа в новом свете.</h6></h6></p>
  <p class="lead"></p>
</main>
