<main role="main" class="inner cover">
  <p class="lead"><h6></h6></p>
  <form class="form-signin">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>   
    </div>
    <div class="form-label-group">
      <input type="text" id="username" class="form-control" placeholder="Username:" required autofocus>
      <label for="username"></label>
    </div>
    <div class="form-label-group">
      <input type="password" id="password" class="form-control" placeholder="Password:" required>
      <label for="inputPassword"></label>
    </div>
    <div class="form-label-group">
      <input type="text" id="secret" class="form-control" placeholder="Secret:" required>
      <label for="secret"></label>
    </div>
    <div class="form-label-group">
      <input type="text" id="FIO" class="form-control" placeholder="ФИО:" required>
      <label for="FIO"></label>
    </div>
    <div class="checkbox mb-3">
      <label>
      </label>
    </div>
    <button id="senduserinfobutton" class="btn btn-lg btn-warning btn-block" type="submit">Зарегистрироваться</button>
  </form>
</main>

<script>
  document.getElementById('senduserinfobutton').addEventListener('click', async function(event) {
    event.preventDefault();
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    const secret = document.getElementById('secret').value;
    const fio = document.getElementById('FIO').value;
    const json = JSON.stringify({
      username: username,
      password: password,
      secret: secret,
      fio: fio
    });
    const serverUrl = `${location.origin}/api/users/register`;
    fetch(serverUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: json
    }).then((result)=>{
      if (result.status === 200) {
        window.location = `${location.origin}/login`;
      } else if (result.status === 403) {
        alert("This user is already registered")
      } else if (result.status === 500) {
        alert("Something went wrong")
      }
    })
  });
</script>    
