<main role="main">
  <div class="album py-5">
    <div class="container" style="color: black;">
      <div class="row">
        <% Dino.all.each do |dino| %>
          <% if dino.allowed == true %>
            <%= erb :"partial/dinocard", :locals => {:dino=>dino} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
