<main role="main">
  <div class="">
    <div class="" style="color: black;">
      <div class="">
        <div class="">
          <div class="card">
            <img class="card-img-top" id="image" src="" alt="Card image cap">
            <div class="card-body">
              <p class=""><b id="name"></b></p>
              <p class="" id="description"></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>

<script>
  const serverUrl = `${location.origin}/api/dino?id=<%= id %>`;
  fetch(serverUrl)
    .then(response => response.json())
    .then(data => {
      dino = data.dino
      document.getElementById('image').src = `img/${dino.image}`;
      document.getElementById('name').innerHTML = dino.name;
      document.getElementById('description').innerHTML = dino.description;
    })
</script>
